@import "../../sass/base/mixins";

.meals {
  &__preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include respond(phone) {
      justify-content: space-around;
    }
  }
}
