@import "../../sass/base/variables";
@import "../../sass/base/mixins";

.single-meal {
  padding: 2rem 5rem;

  @include respond(phone) {
    padding: 1rem 2.4rem;
  }

  h1 {
    margin-bottom: 3rem;

    @include respond(phone) {
      text-align: center;
    }
  }

  &__preview {
    display: flex;
    justify-content: space-between;

    @include respond(tab-small) {
      flex-direction: column;
    }

    @include respond(phone) {
      justify-content: center;
      align-items: center;
    }

    &-image {
      width: 35%;
      padding-top: 10%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;

      @include respond(tab-large) {
        width: 38%;
      }

      @include respond(tab-medium) {
        width: 48%;
      }

      @include respond(tab-small) {
        width: 60%;
        padding-top: 50%;
        margin-bottom: 3rem;
      }

      @include respond(phone) {
        width: 80%;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &-description {
      width: 60%;
      border: 1px solid $color-brown-2;
      border-radius: 3px;
      background-color: $color-grey-2;
      padding: 1.2rem;

      @include respond(tab-medium) {
        width: 48%;
      }

      @include respond(tab-small) {
        width: 80%;
      }

      @include respond(phone) {
        width: 90%;
      }

      span {
        font-weight: 700;
      }

      .video {
        text-decoration: none;
        color: $color-red;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $color-brown-1;
        }
      }
    }
  }

  &__ingredients {
    display: flex;
    margin: 3rem 0;

    @include respond(phone) {
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    div {
      &:not(:last-child) {
        margin-right: 5rem;
      }

      span {
        font-weight: 700;
      }
    }
  }

  &__similar {
    h2 {
      margin-bottom: 2rem;
    }
  }

  p {
    font-size: 1.4rem;
  }
}
