@import "../../sass/base/variables";

.search-input {
  border: 1px solid $color-blue;
  border-radius: 3px;
  background-color: $color-blue-light-2;
  display: flex;
  align-items: center;
  padding: 1.6rem;
  width: 25rem;
  height: 4rem;

  ::placeholder {
    color: $color-blue;
    font-family: inherit;
  }

  input {
    color: $color-blue;
    font-family: inherit;
    transition: all 0.2s linear;
    outline: none;
    font-size: 1.8rem;
    padding-left: 1rem;
    border: none;
    flex: 1;
    background-color: $color-blue-light-2;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    font-size: 1.8rem;
    color: $color-blue;
  }
}
