@import "../../sass/base/variables";

.footer {
  padding: 2.5rem 5rem;
  margin-top: 2rem;
  background-color: $color-brown-2;

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 5rem;
    color: $color-primary;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    font-size: 3rem;
    color: $color-primary;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    span {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 1rem;
    }
  }
}
